html {
    color-scheme: light dark;
}
body {
    font-family: system-ui;
    font-size: 1.15rem;
    line-height: 1.5rem;
}
.container {
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
}
img  {
    max-width: 80%;
    display: block;
}
a {
    text-decoration: none;
    color: black;
}
h1:hover, a:hover {
    color: cyan;
}